[colour_scheme="dark"] {
    --background: hsl(0 0 12);
    --foreground: hsl(0 0 19);
    --text: hsla(0, 0%, 100%, .86);
    --shadow: #2a2a2a
}

[colour_scheme="light"] {
    --background: #e1e1e1;
    --foreground: #f6f6f6;
    --text: #333333;
    --shadow: #d0d0d0;
}