@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0");

@property --columns {
    syntax: "<integer>";
    initial-value: 1;
    inherits: false;
}

:root {
    --background: hsl(0 0 12);
    --navbar: hsl(0 0 15);
    --text: hsla(0, 0%, 100%, .86);
    --minor-text: hsla(0, 0%, 100%, .6);
    --pink: hsla(340, 70%, 82%, 0.8);
    --blue: hsla(200, 65%, 80%, 0.8)
}

* {
    color: var(--text);
    font-family: "Noto Sans", sans-serif;
    caret-color: transparent;
    transition: 0.25s;
    scrollbar-color: var(--secondary) var(--shadow)
}


body {
    background-color: var(--background);
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100vh;
    border-left: 8px solid var(--background);
    width: 40px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.navbar > div {
    background-color: var(--navbar);
    padding: 8px;
    margin: 4px 0;
    border-radius: 8px;
    height: 24px;
    width: 24px;
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

.navbar > div:hover {
    height: 32px;
    width: 32px;
    margin-left:8px;
}

.navbar > div > span {
    z-index: 2;
}

.navbar > div:hover span {
    font-size: 32px;
    color: var(--blue);
}

.navbar > div > div {
    position: absolute;
    top: 12px;
    font-size: 20px;
    height: 24px;
    transition: .5s;
    z-index: -1;
    align-items: center;
}

.navbar > div:hover > div {
    visibility: visible;
    left: 56px !important;
}

.popup {
    background-color: var(--dark);
    color: var(--dark-text);
    position: absolute;
    right: -250px;
    bottom: 0;
    padding-top: 8px;
    margin: 8px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px var(--shadow);
    cursor: pointer;
    transition: right 1s;
}

.popup span {
    padding: 8px 8px 0;
}

.progress-bar {
    height: 8px;
    width: 200px;
    margin-top: 8px;
    background-color: var(--light);
    user-select: none;
}

.progress {
    background-color: var(--contrast);
    height: 8px;
    transition: width 5s ease-out;
    width: 0;
}