@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0");

/* General */

:root {
    --background: hsl(0 0 12);
    --navbar: hsl(0 0 16);
    --foreground: hsl(0 0 15);
    --midground: hsl(0 0 13);
    --fronterground: hsl(0 0 19);
    --major-text: hsla(0, 0%, 100%, .86);
    --text: hsla(0, 0%, 100%, .7);
    --minor-text: hsla(0, 0%, 100%, .6);
    --sub-text: hsla(0, 0%, 100%, .4);
    --sub-sub-text: hsla(0, 0%, 100%, .2);
    --primary: pink;
    --secondary: chartreuse;
}

* {
    color: var(--text);
    font-family: "Noto Sans", "Segoe UI", sans-serif;
    caret-color: transparent;
    transition: 0.25s;
    scrollbar-color: var(--text) var(--background)
}

*::selection {
    background-color: var(--secondary);
    color: var(--navbar);
}

p {
    color: var(--minor-text);
}

h6 {
    color: var(--sub-text);
    margin: 1em 0
}

h5 {
    color: var(--minor-text)
}

h4 {
    color: var(--minor-text)
}

h3 {
    margin: 1em 0 0 0;
    color: var(--text)
}

h2 {
    margin: .5em 0;
    color: var(--text)
}

h1 {
    margin-bottom: 0;
    font-weight: bolder;
    color: var(--major-text);
}

strong {
    color: var(--primary)
}

input[type=range] {
    accent-color: var(--primary);
    background-color: var(--background);
}

input[type=range]:hover {
    accent-color: var(--secondary);
}

input[type=checkbox] {
    background-color: var(--navbar);
    border: 1px var(--sub-sub-text) solid;
    margin: auto .23em auto .3em;
    appearance: none;
    width: 1.15em;
    height: 1.15em;
    cursor: pointer;
}

input[type=checkbox]:hover {
    background-color: var(--fronterground);
}

input[type=checkbox]:checked {
    background-color: var(--primary);
}

input[type=checkbox]:disabled:not(.undisable) {
    opacity: 30%;
}

input[type=text], input[type=number] {
    background-color: var(--background);
    border: none;
    margin: .3em
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   appearance: none;
}

.inputNumberParent button {
    width: 2.8em
}

input[type=file] {
    display: none;
}

body {
    font-size: 0.83vw;
}

.file {
    cursor: pointer;
    display: block;
    padding: .3em;
    margin: .3em;
    background-color: var(--background);
    border: 1px solid var(--sub-text);
}

.file:hover {
    color: var(--secondary);
    border-color: var(--secondary);
}

.file:active {
    color: var(--primary);
    border-color: var(--primary);
}

select {
    background-color: var(--background);
    border: none
}

a {
    color: var(--primary);
    text-decoration: underline;
    transition: .25s;
    cursor: pointer;
}

a:hover {
    color: var(--secondary)
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: var(--secondary);
}

.clickable:hover > * {
    color: var(--secondary);
}

.clickable:active {
    color: var(--primary);
}

.clickable:active > * {
    color: var(--primary);
}

button {
    background-color: var(--background);
    text-decoration: none;
    padding: .3em 1.55em;
    border: 1px solid var(--sub-sub-text);
    transition: .25s;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    color: var(--secondary);
    border-color: var(--secondary);
}

button:active {
    color: var(--primary);
    border-color: var(--primary);
}

textarea {
    background-color: var(--background);
    border: none;
    color: var(--text);
    caret-color: var(--text);
}

body {
    background-color: var(--background);
    margin: 0;
    overflow: hidden;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    height: 100svh;
    float: left;
    border-left: 8px solid var(--background);
    width: calc(3svh + 16px);
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    overflow-x: visible;
}

.navbar > div {
    background-color: var(--navbar);
    padding: 8px;
    margin: .3em 0;
    border-radius: 8px;
    height: 3svh;
    width: 3svh;
    font-size: 3svh;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > div:hover {
    height: 32px;
    width: 32px;
    margin-left:8px;
}

.navbar > div:hover span {
    font-size: 32px;
    color: var(--secondary);
}

.navbar > div > div {
    position: absolute;
    top: 0;
    font-size: 16px;
    height: 24px;
    transition: left .6s cubic-bezier(0, 0.6, 0.75, 1), color .5s;
    z-index: -1;
    align-items: center;
    background-color: var(--navbar);
    border-radius: 8px;
    padding: 8px;
}

.navbar > div:hover > div {
    visibility: visible;
    left: 56px !important;
    top: 5px
}

.not-nav {
    float: right;
    height: calc(100svh - 144px);
    padding: 16px 0;
    margin: 56px 72px 56px 0;
    width: calc(100vw - 112px - 3svh);
    z-index: -2;
    position: relative;
}

/* Popup */

.popup-bar {
    position: absolute;
    width: 100vw;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    pointer-events: none;
}

.popup {
    background-color: var(--navbar);
    color: var(--minor-text);
    padding-top: 8px;
    margin: 8px -208px 8px 8px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: margin-right 1s;
    pointer-events: initial;
}

.popup span {
    padding: 8px;
}

.progress-bar {
    height: 8px;
    width: 200px;
    margin-top: 8px;
    background-color: var(--primary);
    user-select: none;
}

.progress {
    background-color: var(--secondary);
    height: 8px;
    transition: width 5s ease-out;
    width: 0;
}

/* Overlay */

.overlay {
    position: absolute;
    background-color: hsla(0, 0%, 0%, .5);
    width: 100vw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay > div {
    background-color: var(--background);
    max-height: 80svh;
    max-width: 80vw;
    overflow-y: scroll;
    width: fit-content;
    height: fit-content;
    padding: 8px
}

/* Tooltip */

.tooltip {
	cursor: pointer;
	position: relative;
	width: fit-content;
	overflow: visible;
    font-size: 1em;
}

.tooltip:not(.tooltip-text) {
	text-decoration: underline var(--sub-text)
}

.tooltip:hover:not(.tooltip-text) {
	text-decoration: underline var(--secondary)
}

.tooltip-text {
	z-index: 2;
	display: none;
	background-color: var(--navbar);
	padding: 8px;
	position: absolute;
	left: 120%;
	top: 0;
	bottom: 0;
	height: fit-content;
	margin: 0;
	max-width: 400px;
	min-width: 150px;
	width: fit-content
}

.tooltip:hover > .tooltip-text {
	display: inline
}

/* Homepage */
.homepage > h1 {
    text-align: center;
    margin-top: 30vh;
    font-size: 2.25em;
    margin-bottom: 1rem;
}

.homepage > div {
    text-align: center;
    margin: 0 calc((60vw - 112px - 3svh - 1em) / 2)
}

.homepage > div > div {
    width: 20vw;
    text-align: center;
    float:left;
    background-color: var(--navbar);
    border-radius: 8px;
    height: 10vh;
    cursor: pointer;
}

.homepage > div > div > span {
    font-size: 5vh;
    float: left;
    margin: 2.5vh;
}

.homepage > div > div h5 {
    margin: 2.6vh 0 0 0
}

.homepage > div > div p {
    margin: .25em 0 0 0
}

.homepage > div > div:last-child {
    margin-left: 1em
}

.homepage > div > div:hover span, .homepage > div > div:hover h5 {
    color: var(--secondary);
}

.homepage > div > div:active span, .homepage > div > div:active h5 {
    color: var(--primary);
}

.homepage > div > div:hover {
    scale: 1.05
}