@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0");

/* General */

:root {
    --background: hsl(0 0 12);
    --navbar: hsl(0 0 16);
    --foreground: hsl(0 0 15);
    --major-text: hsla(0, 0%, 100%, .86);
    --text: hsla(0, 0%, 100%, .7);
    --minor-text: hsla(0, 0%, 100%, .6);
    --sub-text: hsla(0, 0%, 100%, .4);
    --pink: hsla(340, 70%, 82%, 0.8);
    --blue: hsla(200, 65%, 80%, 0.8)
}

* {
    color: var(--text);
    font-family: "Noto Sans", "Segoe UI", sans-serif;
    caret-color: transparent;
    transition: 0.25s;
    scrollbar-color: var(--text) var(--background)
}

p {
    color: var(--minor-text);
}

h6 {
    color: var(--sub-text);
    margin: 1em 0
}

h5 {
    color: var(--minor-text)
}

h4 {
    color: var(--minor-text)
}

h3 {
    margin: 1em 0 0 0;
    color: var(--text)
}

h2 {
    margin: .5em 0;
    color: var(--text)
}

h1 {
    margin-bottom: 0;
    font-weight: bolder;
    color: var(--major-text);
}

strong {
    color: var(--pink)
}

input[type=range] {
    accent-color: var(--pink);
    background-color: var(--background);
}

input[type=range]:hover {
    accent-color: var(--blue);
}

input[type=checkbox] {
    accent-color: var(--pink);
}

select {
    background-color: var(--background);
    border: none
}

body {
    background-color: var(--background);
    margin: 0;
    overflow: hidden;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    height: 100vh;
    float: left;
    border-left: 8px solid var(--background);
    width: 40px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    overflow-x: visible;
}

.navbar > div {
    background-color: var(--navbar);
    padding: 8px;
    margin: 4px 0;
    border-radius: 8px;
    height: 24px;
    width: 24px;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > div:hover {
    height: 32px;
    width: 32px;
    margin-left:8px;
}

.navbar > div:hover span {
    font-size: 32px;
    color: var(--blue);
}

.navbar > div > div {
    position: absolute;
    top: 0;
    font-size: 16px;
    height: 24px;
    transition: left .6s cubic-bezier(0, 0.6, 0.75, 1), color .5s;
    z-index: -1;
    align-items: center;
    background-color: var(--navbar);
    border-radius: 8px;
    padding: 8px;
}

.navbar > div:hover > div {
    visibility: visible;
    left: 56px !important;
    top: 5px
}

.not-nav {
    float: right;
    height: calc(100vh - 144px);
    padding: 16px 0;
    margin: 56px 72px 56px 0;
    width: calc(100vw - 136px);
    z-index: -2;
    position: relative;
}

/* Popup */

.popup-bar {
    position: absolute;
    width: 100vw;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.popup {
    background-color: var(--navbar);
    color: var(--minor-text);
    padding-top: 8px;
    margin: 8px -208px 8px 8px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: margin-right 1s;
}

.popup span {
    padding: 8px 8px 0;
}

.progress-bar {
    height: 8px;
    width: 200px;
    margin-top: 8px;
    background-color: var(--pink);
    user-select: none;
}

.progress {
    background-color: var(--blue);
    height: 8px;
    transition: width 5s ease-out;
    width: 0;
}
