.characters-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    grid-auto-rows: 1fr;
}

@media (max-width: 1300px) {
    .characters-grid {
        grid-template-columns: repeat(5, 1fr);
    }
    .characters-grid-other {
        font-size: 1.25em;
    }
}

@media (max-width: 900px) {
    .characters-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .characters-grid-other {
        font-size: 1em;
    }
}

.characters-grid-char {
    background-color: var(--foreground);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: 1px solid var(--foreground);
    padding: 8px;
    flex-wrap: wrap;
    align-content: center;
}

.characters-grid-char:hover {
    border-color: var(--blue);
}

.characters-grid-char:hover * {
    color: var(--blue);
}

.characters-grid-char:active {
    border-color: var(--pink);
}

.characters-grid-char:active * {
    color: var(--pink);
}

.characters-grid-char > img {
    width: 50%;
    height: 50%;
}

.characters-grid-char p, .characters-grid-char h3 {
    width: 100%;
    text-align: center;
}

.characters-grid-other {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
    aspect-ratio: 1 / 1;
    grid-auto-rows: 1fr;
}

.characters-grid-other > div {
    background-color: var(--foreground);
    font-size: 1.5em;
    padding: 8px;
    text-align: center;
    height: calc(100% - 16px);
    align-content: center;
    color: var(--text);
    cursor: pointer;
}

.characters-grid-other > div:hover {
    color: var(--blue)
}

.characters-grid-other > div:active {
    color: var(--pink)
}