h1, h2, h3, h4, h5, h6 {
    margin: 0
}

.not-nav {
    --gap: calc((100vh - ((5vw + 6px) + ((100vw - 128px) / 12 * 5))) / 2);
    margin: var(--gap) 72px var(--gap) 0;
    height: calc(100vh - (var(--gap) * 2));
    padding: 0
}

input[type=checkbox]:not(.usable) {
    pointer-events: none;
    opacity: 1;
}

/* Player */

.header > img {
    aspect-ratio: 1 / 1;
    width: 5vw;
    border: 3px solid var(--fronterground);
}

.header {
    display: flex;
}

.header > .playerData {
    align-content: center;
    padding-left: 8px
}

.header > .playerRest {
    position: absolute;
    right: 0
}

.header > .playerRest > button {
    width: 102px;
    height: 102px;
}

.player-grid {
    display: grid;
    grid-template-columns: repeat(12, calc((100% - 88px) / 12));
    gap: 8px;
    grid-auto-rows: calc((100vw - 224px) / 12);
    margin-top: 8px;
}

.player-grid > div, .player-grid > table {
    padding: 8px;
    background-color: var(--foreground);
    border-radius: 8px;
    corner-shape: scoop;
    text-align: center;
    align-content: center;
}

.health {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.health > div:nth-child(1) {
    grid-row: span 2;
}

.health button:nth-child(1), .health button:nth-child(3) {
    color: var(--blue)
}

.health button:nth-child(4) {
    color: var(--pink);
    margin-top: 4px
}

.health input[type="number"] {
    text-align: center;
}

.health button {
    width: calc(100% - 8px);
}

.health > * {
    align-content: center;
    text-align: center;
}

.prof {
    grid-column: span 3;
    grid-row: span 4;
}

.prof input[type=number] {
    width: 3em
}

table > tr > td > p, table > tbody > tr > td > p {
    margin: 0
}

#save {
    grid-row: span 2
}

.training {
    grid-row: span 2
}

.training * {
    text-align: left;
    margin: 2px
}

.training > div {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    scrollbar-color: var(--text) var(--foreground);

}

.defenses {
    grid-column: span 3;
    align-content: start !important;
}

.defenses h4 {
    font-size: 1.3em;
}

.defenses div {
    margin-top: 4px;
    overflow-y: scroll;
    height: calc(100% - 28px);
    scrollbar-color: var(--text) var(--foreground);
}

.defenses p {
    margin: 0;
    font-size: .9em;
    color: var(--sub-text)
}

.defenses * {
    text-align: left;
}

.conditions {
    grid-column: span 3;
    align-content: start !important;
}

.conditions p {
    margin: 0;
    font-size: .9em;
    color: var(--sub-text)
}

.conditions div {
    margin-top: 4px;
    overflow-y: scroll;
    height: calc(100% - 28px);
    scrollbar-color: var(--text) var(--foreground);
}

.conditions button {
    float: right
}

.conditions h4 {
    font-size: 1.3em;
}

.conditions * {
    text-align: left;
}

.actions {
    grid-column: span 8;
    grid-row: span 3;
    text-align: left;
    display: flex;
}

.tabs {
    float:left
}

.tabs > h5 {
    float: left;
    margin: 8px;
    cursor: pointer;
}

.tabs > *:hover {
    color: var(--blue)
}

.tabs > *:active {
    color: var(--pink)
}

.tabs > .active {
    color: var(--pink);
    border-bottom: 2px solid var(--pink);
}

.overlay > div {
    overflow: hidden;
    width: 956px
}

.current {
    float: right;
    width: calc(50% - 4px);
    margin-left: 8px
}

.current > * {
    float: left;
}

.current div {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.current div p {
    margin: 2px;
    width: 125px
}

.add {
    float: left;
    width: calc(50% - 4px);
}

.add > button {
    width: 150px;
    margin: 4px
}

.action-content {
    height: calc(100% - 36px)
}

.actions {
    display: flex;
    flex-direction: column;
}

.action-filter > * {
    margin: 2px;
    float: left
}

.action-body {
    width: 100%;
    overflow-y: scroll;
    scrollbar-color: var(--text) var(--foreground);
    float: left;
    height: calc(100% - 32px);
}

.action-body > * {
    float: left;
}

.action-body table {
    width: 100%;
}

.action-body td {
    width: 20%;
}

.action-body th {
    font-size: .85em;
}

.actionParent {
    width: 100%;
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.actionParent > h2, .actionParent > h3, .actionParent > table {
    grid-column: span 7;
}

.actionParent h3, .actionParent h2 {
    float: left;
    width: 100%;
    display: inline;
    text-align: left;
}

.actionParent > .generic {
    width: calc(100% - 8px);
    float: left;
    display: block;
    margin: 4px;
    height: 54px;
    align-content: center;
}

.actionParent > .special {
    width: calc(100% - 8px);
    display: block;
    float: left;
    margin: 4px;
    height: 54px;
    align-content: center;
}

.actionParent > .special > * {
    margin: 4px;
}

.actionParent > .special > .checkboxBox {
    margin: 0;
}

/* Overlays */
.featOverlay > div > div {
    border: 1px solid var(--minor-text)
}

.featOverlay > div > div:hover {
    border-color: var(--blue);
}

.featOverlay > div > .selectedFeat {
    border-color: var(--pink);
}