h1, h2, h3, h4, h5, h6 {
    margin: 0
}

.not-nav {
    --gap: calc((100vh - ((5vw + 6px) + ((100vw - 128px) / 12 * 5))) / 2);
    margin: var(--gap) calc(3vh + 24px) var(--gap) 0;
    height: calc(100vh - (var(--gap) * 2));
    width: calc(100vw - 6vh - 56px);
    padding: 0
}

input[type=checkbox]:not(.usable) {
    pointer-events: none;
    opacity: 1;
    max-height: 1vw;
    max-width: 1vw;
}

/* Player */

.header > img {
    aspect-ratio: 1 / 1;
    width: 5vw;
    border: .23em solid var(--fronterground);
}

.header {
    display: flex;
}

.header > .playerData {
    align-content: center;
    padding-left:.5em
}

.header > .playerRest {
    position: absolute;
    right: 0
}

.header > .playerRest > button {
    width: 5vw;
    height: 5vw;
    font-size: .8em;
    padding: 0
}

.header > .playerRest > button > span {
    display: block;
    font-size: 3em;
    margin: 0 calc((5vw - 1em) / 2);
}

.player-grid {
    display: grid;
    grid-template-columns: repeat(12, calc((100% - 88px) / 12));
    gap:.5em;
    grid-auto-rows: calc((100vw - 224px) / 12);
    margin-top:.5em;
}

.player-grid > div, .player-grid > table {
    padding:.5em;
    background-color: var(--foreground);
    border-radius:.5em;
    corner-shape: scoop;
    text-align: center;
    align-content: center;
}

.health {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:.5em;
}

.health > div:nth-child(1) {
    grid-row: span 2;
}

.health button:nth-child(1), .health button:nth-child(3) {
    color: var(--blue)
}

.health button:nth-child(4) {
    color: var(--pink);
    margin-top:.3em
}

.health input[type="number"] {
    text-align: center;
}

.health button {
    width: calc(100% - .5em);
    font-size: .75em;
    padding: 0;
}

.health > * {
    align-content: center;
    text-align: center;
}

.prof {
    grid-column: span 3;
    grid-row: span 4;
}

.prof table {
    width: 100%;
    height: 100%;
}

.prof > div {
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: var(--text) var(--foreground);
}

.prof input[type=number] {
    width: 3em
}

table > tr > td > p, table > tbody > tr > td > p {
    margin: 0
}

#save {
    grid-row: span 2
}

.training {
    grid-row: span 2
}

.training * {
    text-align: left;
    margin: 2px
}

.training > div {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    scrollbar-color: var(--text) var(--foreground);
}

.defenses {
    grid-column: span 3;
    align-content: start !important;
}

.defenses h4 {
    font-size: 1.3em;
}

.defenses div {
    margin-top:.3em;
    overflow-y: scroll;
    height: calc(100% - 28px);
    scrollbar-color: var(--text) var(--foreground);
}

.defenses p {
    margin: 0;
    font-size: .9em;
    color: var(--sub-text)
}

.defenses * {
    text-align: left;
}

.conditions {
    grid-column: span 3;
    align-content: start !important;
}

.conditions p {
    margin: 0;
    font-size: .9em;
    color: var(--sub-text)
}

.conditions div {
    margin-top:.3em;
    overflow-y: scroll;
    height: calc(100% - 28px);
    scrollbar-color: var(--text) var(--foreground);
}

.conditions button {
    float: right;
    height: 1.75em;
    padding: 0 .5em;
    font-size: 1em;
}

.conditions h4 {
    font-size: 1.3em;
}

.conditions * {
    text-align: left;
}

.actions {
    grid-column: span 8;
    grid-row: span 3;
    text-align: left;
    display: flex;
}

.tabs {
    float:left
}

.tabs > h5 {
    float: left;
    margin:.5em;
    cursor: pointer;
}

.tabs > *:hover {
    color: var(--blue)
}

.tabs > *:active {
    color: var(--pink)
}

.tabs > .active {
    color: var(--pink);
    border-bottom: 2px solid var(--pink);
}

.overlay > div {
    overflow-x: hidden;
    width: 956px;
    overflow-y:scroll;
    padding: 0;
    border:.5em solid var(--background)
}

.current {
    float: right;
    width: calc(50% - .3em);
    margin-left:.5em
}

.current > * {
    float: left;
}

.current div {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.current div p {
    margin: 2px;
    width: 125px
}

.add {
    float: left;
    width: calc(50% - .3em);
}

.add > button {
    width: 150px;
    margin: .3em
}

.action-content {
    height: calc(100% - 36px);
    overflow-y: scroll;
    scrollbar-color: var(--text) var(--foreground);
}

.actions {
    display: flex;
    flex-direction: column;
}

.action-filter > * {
    margin: 2px;
    float: left
}

.action-body {
    width: 100%;
    scrollbar-color: var(--text) var(--foreground);
    float: left;
    height: calc(100% - 32px);
}

.action-body > * {
    float: left;
}

.action-body table {
    width: 100%;
}

.action-body td {
    width: 20%;
}

.action-body th {
    font-size: .85em;
}

.actionParent {
    width: 100%;
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.actionParent > h2, .actionParent > h3, .actionParent > table {
    grid-column: span 7;
}

.actionParent h3, .actionParent h2 {
    float: left;
    width: 100%;
    display: inline;
    text-align: left;
}

.actionParent > .generic {
    width: calc(100% - .5em);
    float: left;
    display: block;
    margin:.3em;
    height: 54px;
    align-content: center;
}

.actionParent > .special {
    width: calc(100% - .5em);
    display: block;
    float: left;
    margin:.3em;
    height: 54px;
    align-content: center;
}

.actionParent > .special > * {
    margin:.3em;
}

.actionParent > .special > .checkboxBox {
    margin: 0;
}

.featureParent {
    overflow-y: scroll;
    height: calc(100% - 16px);
    padding:.5em;
    scrollbar-color: var(--text) var(--foreground);
}

.featureParent {
    text-align: left;
}

.featureParent > h2 {
    margin: 16px 0
}

.featureParent > p {
    margin: 1px 0.5em
}

.equipTable {
    width: 100%
}

.equipTable th, .equipTable td {
    width: 20%
}

.moneyParent {
    display: flex;
    justify-content: center;
}

.moneyParent > div {
    width: fit-content;
    float: left;
    margin: 2px
}

.moneyParent > div > * {
    display: block
}

.moneyParent > div > button {
    padding: 0;
}

.moneyParent > div > input {
    width: 2.5em;
    text-align: center;
}

.moneyParent > label {
    align-content: center;
    margin-right:.5em
}

.spellHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.spellHeader h4 {
    margin-top: .25em
}

.changeKnownSpells {
    grid-row: span 2;
    margin-top: .25em
}

.overlay:has(.allSpells) h1 {
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
    color: var(--minor-text)
}

.allSpells {
    width: 100%;
    table-layout: fixed;
}

.allSpells th[colspan="3"] {
    font-size: 1.5em;
}

.allSpells tr td {
    color: var(--minor-text)
}

.allSpells tr td, .allSpells tr th {
    text-align: left;
}

.allSpells tr td:nth-child(3), .allSpells tr th:nth-child(3) {
    text-align: center;
}

.allSpells tr button {
    width: 100%
}

.allSpells .learnt td {
    font-weight: 800;
    color: var(--text)
}

.spellTable {
    width: 100%;
}

.spellTable tr *:nth-child(3) {
    text-align: left;
}

.spellSlots {
    display: grid;
    --slots: 1;
    grid-template-columns: repeat(var(--slots), 1fr);
    margin-top: .5em
}

/* Overlays */
.featOverlay {
    overflow-y: scroll;
}

.featOverlay > div > div {
    border: 2px solid var(--minor-text);
    padding:.5em;
    margin:.5em;
    transition: .25s;
    cursor: pointer;
}

.featOverlay > div > .selectedFeat {
    border-color: var(--pink) !important;
}

.featOverlay > div > .selectedFeat > h3 {
    color: var(--pink) !important;
}

.featOverlay > div > div:hover {
    border-color: var(--blue);
}

.featOverlay > div > div:hover > h3 {
    color: var(--blue);
}


.featOverlay:has(.featScroll) {
    overflow:hidden;
}

.featScroll {
    overflow-y: scroll;
    height: calc(80vh - 2.1em - 1em);
    position: relative;
}

.featScroll button {
    margin-left: .5em
}

.equipmentAdd {
    overflow-y: scroll !important;
    width: 30vw !important;
}

.equipmentAdd > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin: 2px;
}

.equipmentAdd > div:not(.subtitle) {
    cursor: pointer
}

.equipmentAdd > div:not(.subtitle):hover {
    background-color: var(--navbar);
}

.equipmentAdd > div:not(.subtitle):hover > p {
    color: var(--blue)
}

.equipmentAdd > div > p {
    display: inline;
    margin: 0
}

.equipmentAdd > .subtitle > p {
    font-weight: bold;
    color: var(--pink)
}

.equipmentAdd > div > p:nth-child(1) {
    font-weight: 500;
    grid-column: span 3
}
