

.footer {
    position: absolute;
    bottom: 0;
    background-color: var(--background) !important;
    width: 100%
}

.footer * {
    width: 10vw;
    height: 5vh;
}

.footer *:nth-child(1) {
    float: left
}

.footer *:nth-child(2) {
    float: right;
}

.listParent {
    height: calc(100% - 5vh);
}

.listParent > div {
    background-color: var(--foreground);
    width: 100%;
    height: calc(((100% - 5vh) / 12) - 8px);
    cursor: pointer;
}

.listParent > div:hover > * {
    color: var(--blue)
}

.listParent .active > * {
    color: var(--pink)
}

.statParent {
    display: grid;
    height: calc(100% - 5vh);
    grid-template-columns: repeat(7, 1fr);
/*    stat, num, points, bonus 1, bonus 2, total, mod*/
}

.statParent > .header {
    font-weight: bold;
}

.statParent * {
    text-align: center;
    align-content: center;
    font-size: 2vh;
}

.statParent input[type="checkbox"] {
    margin: auto;
    width: 5vh;
    height: 5vh;
}

.equipParent {
    display: grid;
    height: calc(100% - 5vh);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr 1fr;
    gap: 8px
}

.equipParent > ul {
    background-color: var(--foreground);
    padding: 8px 8px 8px 32px;
    margin: 0;
    border: 1px solid var(--foreground);
}

.equipParent > .active {
    border-color: var(--pink);
}

.equipParent > ul:hover {
    border-color: var(--blue);
}

.equipParent > .header {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.nameParent {
    height: calc(100% - 5vh);
}

.nameParent > input[type="text"] {
    background-color: var(--foreground);
    width: 50%;
    font-size: 1.5em;
    padding: 8px
}

.nameParent > button {
    margin-left: 4px
}

.nameParent > div:has(input[type="checkbox"]) {
    margin: 4px 4px 4px 0;
    position: relative;
    width: fit-content;
    float: left;
}

.nameParent > div:has(input[type="checkbox"]) > p {
    margin: 0;
    width: 5vh;
    text-align: center;
    align-content: center;
    height: 5vh;
    position: absolute;
    left: 4px;
    top: 0;
    cursor: pointer;
}

.nameParent > div:has(input[type="checkbox"]) > input {
    width: 5vh;
    height: 5vh;
}