

.footer {
    position: absolute;
    bottom: 0;
    background-color: var(--background) !important;
    width: 100%
}

.footer * {
    width: 10vw;
    height: 5vh;
}

.footer *:nth-child(1) {
    float: left
}

.footer *:nth-child(2) {
    float: right;
}

.classParent {
    gap: 8px
}

.classParent > div {
    background-color: var(--foreground);
    width: 100%;
    height: calc((100% / 12) - 8px);
    cursor: pointer;
}

.classParent > div:hover > * {
    color: var(--blue)
}

.classParent .active > * {
    color: var(--pink)
}