.spellData {
    background-color: var(--foreground);
    width: calc(50% - 20px);
    z-index: -1;
    height: 100%;
    padding: 8px
}

.spellSelect {
    width: calc(50% - 20px);
    height: calc(100% + 16px);
    padding: 0 8px;
    float: right;
}

.spellScroll {
    overflow-y: scroll;
    height: calc(100% - 32px)
}

.spellOption {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    margin: 8px 8px 8px 0;
    padding: 8px;
    color: var(--minor-text);
    cursor: pointer;
    background-color: var(--foreground);
}

.spellOption:hover {
    padding: 16px 8px;
}

.spellOption:hover span {
    color: var(--blue)
}

.spellSearch {
    display: flex;
    gap: 4px;
}

.spellSearch span {
    aspect-ratio: 1 / 1;
    background-color: var(--navbar);
    border-radius: 128px;
    padding: 4px;
    cursor: pointer;
}

.spellSearch span:hover {
    color: var(--blue)
}

.spellSearch input {
    width: -webkit-fill-available;
    padding-left: 8px;
    background-color: var(--navbar);
    border: none;
    pointer-events: auto;
}

.spellSearch input:focus {
    border: 1px solid var(--minor-text);
    outline: none;
    caret-color: var(--minor-text);
}